body {
    padding-top: 56px;
}

.jumbotron {
    background: url('stock/795756(1).png') no-repeat center;
    background-size: cover;
}
.btn-primary {
    background-color: #c60063;
    border-color: #c60063;
}

#contact {
    background-color: #E6DF9A;
}